<a href="https://colab.research.google.com/github/yhjung5810/AI_Exercise/blob/main/python_exercise_1_updated_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 자료형

##문자열
Q1. 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동씨의 주민등록번호를 연월일 [YYYYMMDD]  부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [1]:
pin = "881120-1068234"
yyyymmdd = pin[:6]
num = pin[7:]
print(yyyymmdd)
print(num)

# 결과값
# 881120
# 1068234

881120
1068234

In [2]:
pin = "881120-1068234"

# split() : 문자열의 구분자를 인자로 받아 나누는 함수
pin_list = pin.split('-') # ['881120', '1068234']
yyyymmdd = pin_list[0]
num = pin_list[1]

print(yyyymmdd)
print(num)

881120
1068234

Q2. 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자

In [3]:
pin = "881120-9068234"
print(pin[7])

#결과값
# 1

9

In [ ]:
num = pin.split('-')[1]
num[0]

'9'

##리스트
Q1. [1,3,5,4,2]라는 리스트를 [5,4,3,2,1]로 만들어보자

In [4]:
a = [1,3,5,4,2]
a.sort(reverse=True) # reverse=True, 내림차순으로 정렬
print(a)

[5, 4, 3, 2, 1]

In [5]:
a = [1,3,5,4,2]
a.sort() # [1, 2, 3, 4, 5]
print(a) 
a.reverse() # [5, 4, 3, 2, 1]
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

Q2. ['Life','is','too','short']라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자

In [6]:
a = ['Life','is','too', 'short']
result = ' '.join(a)
print(result)

Life is too short

In [7]:
a[0] + ' ' + a[1] + ' ' + a[2] + ' ' + a[3]

'Life is too short'

##튜플
Q1. (1,2,3)이라는 튜플에 4라는 값을 추가하여 (1,2,3,4)처럼 만들어 출력해 보자

In [8]:
# tuple
a = (1,2,3)

# list로 변환
a = list(a)

# 4를 추가 - append(): 리스트의 가장 마지막 위치에 값을 추가
a.append(4)

# tuple로 변환
a = tuple(a)

print(a)

(1, 2, 3, 4)

##딕셔너리
Q1. 딕셔너리 a에서 'B'에 해당되는 값을 추출하고 삭제해 보자.

In [9]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a) #B를 추출한 후 딕셔너리
print(result) #B에 해당되는 값

#결과값
#{'A':90, 'C':70}
# 80

{'A': 90, 'C': 70}
80

##세트
Q1. a리스트에서 중복된 숫자들을 제거해보자

(참고)

범주형 데이터(예: 성별, 성적)의 유일값 확인시 중복제거 기능 활용

In [10]:
# a 리스트
a = [1,1,1,2,2,3,3,3,4,4,5]

# 중복제거를 위해서 set형으로 변환
aSet = set(a) #{1,1,1,2,2,3,3,3,4,4,5}

# 다시 list 형으로 변환
b = list(aSet)

print(b)

#결과값
#[1,2,3,4,5]

[1, 2, 3, 4, 5]

##변수
Q1. 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 아래와 같이 a, b 변수를 선언한 후 a의 첫 번째 요소값을 변경하면 b의 값은 어떻게 될까? 그리고 이런 결과가 나오는 이유에 대해서 설명해 보자

In [11]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

A1. a와 b가 [1,2,3]이라는 동일한 리스트를 참조하고 있음. 이때 a의 1번째 인덱스를 변경하면 동일한 리스트를 참조하고 있는 b의 1번째 인덱스도 변경됨.

In [12]:
id(a)

140435243689920

In [13]:
id(b)

140435243689920

In [14]:
x = 5
y = 5

In [15]:
id(x)

140435795671472

In [16]:
id(y)

140435795671472

In [ ]:
z = x
print(z)
x = 4
print(x)

5
4

In [ ]:
id(z), id(x)

(140621370735024, 140621370734992)

---

Q2.`x`원을 지불하기 위해서 `y`원 짜리(또는 `z`원 짜리) 동전을 몇 개 내야하는지 출력하시오.
```
x = 3928
y = 500
z = 100
```
**출력 예시**
```
500원짜리 동전 8개를 내세요
```

```
100원짜리 동전 40개를 내세요
```

1. 몫을 구한다. :  `x // y`
2. 나머지를 구한다. `x % y`
3. 나머지가 0보다 큰지 확인한다.: `x % y > 0`
4. 나머지가 0보다 크면 1을 더한다.
    - True ==> 1, False ==> 0

`f" "`
 -문자열 내부에 {} 안에 설정된 값은 변수를 사용해서 출력 가능

In [17]:
x = 3928
y = 500
z = 100

print(f"{y}원 짜리 동전 {x // y + (x % y > 0)}개를 내세요")
print(f"{z}원 짜리 동전 {x // z + (x % z > 0)}개를 내세요")

500원 짜리 동전 8개를 내세요
100원 짜리 동전 40개를 내세요

In [18]:
3928 / 500  # 나누기

7.856

In [19]:
3928 // 500  # 몫

7

In [20]:
3928 % 500  # 나머지

428

In [21]:
x // y

7

In [22]:
x % y > 0

True

---

Q3. 세 수의 평균을 구하시오

```
a = 21.9
b = 37
c = 13.6
```

In [23]:
a = 21.9
b = 37
c = 13.6

print((a+b+c)/3)

# 소수점 아래 2자리에서 반올림
print(round((a+b+c)/3, 2))

24.166666666666668
24.17